{% extends 'base.html.twig' %}

{% block title %}Home - Accueil
{% endblock %}


{% block body %}
	<div class="container">
		<img src="build/images/home_fiverr.11547bd7.png" alt="img">
		<img src="build/images/home_fiverr2.778d3863.png" alt="img">
		<img src="build/images/home_fiverr3.bd5ddd81.png" alt="img">
	</div>
	<div class="container-select">
		<a href="#"><img src="build/images/home_fiverr4.036ea905.png" alt="img"></a>
	</div>
	<div class="container">
		<img src="build/images/home_fiverr5.1f97bb81.png" alt="img">
		<img src="build/images/home_fiverr6.a5a5c85f.png" alt="img">
		<img src="build/images/home_fiverr7.3bd292be.png" alt="img">
		<img src="build/images/home_fiverr8.8bbea6a2.png" alt="img">
	</div>

{% endblock %}
