{% extends "base.html.twig" %}

{% block title %}Discount purchases {% endblock %}

{% block body %}


<h2>
nom utilisateur : {{userName}}
<br>
<br>
Nombre d'achats effectués : {{nbreUser}}
<br>
<br>

{% if  discountOk == 1 %}
    Bravo, le discount s'applique.
{% else %}
    La remise ne peut s'appliquer.    
{% endif %}
<br>
    <br>
	<a href="{{path('purchase_index')}}">all purchases</a>
</h2>

{% endblock %}